.mainContainer {
  @apply overflow-x-hidden;
}

.videoContainer {
  @apply relative w-screen h-screen overflow-hidden flex items-center justify-center;
}

.featureFitNestContainer {
  @apply w-full flex items-center justify-center;
}

.videoStyle {
  @apply 
    transform absolute
    xl:-top-12
    w-full 
    xl:h-auto h-full 
    xl:scale-100 lg:scale-110 md:scale-200 sm:scale-350 scale-400
    bg-black;
}

.introVision {
  @apply
    my-52
    mx-auto
    w-3/4
    text-center
    font-normal
    text-primary-800
    lg:text-h1 md:text-h2 sm:text-h3 text-h4
    lg:leading-snug md:leading-tight sm:leading-tight leading-8;
}

.bold {
  @apply text-black font-bold;
}