.cardContainer {
  box-shadow: 0px -25px 50px rgba(39, 39, 42, 0.02), 0px 40px 80px rgba(39, 39, 42, 0.02), -30px 0px 60px rgba(39, 39, 42, 0.02), 30px 0px 60px rgba(39, 39, 42, 0.02);
  @apply
    w-[296px]
    xl:w-[1240px]
    xl:h-[420px]
    max-w-full
    xl:rounded-[50px]
    rounded-[20px]
    p-[30px]
    xl:p-[50px]
    mb-14
    bg-white
    flex
    items-center
    align-middle
    xl:justify-start;    
}

.cardText {
  @apply
    xl:w-7/12;
}

.cardImg {
  @apply
    xl:w-5/12
    w-[226px];
}

.cardTitle {
  @apply
    text-mobileh2
    text-primary-800
    font-bold
    xl:text-h2
    xl:mb-6
    mb-3;
}

.cardCaption {
  @apply
    xl:text-[18px]
    text-[14px]
    text-primary-800
    xl:mb-0
    mb-4;
}
