.navItemDesktop {
  @apply md:flex hidden justify-end font-semibold text-xl;
}

.waveTop {
  @apply bg-no-repeat object-contain absolute w-full;
  background-image: url(/assets/vector/navigation.svg);
  height: 200px;
}

.navDesktopContainer {
  @apply hidden fixed top-0 z-50 xl:flex w-full justify-between xl:px-28 py-8 text-primary-50;
}

.navDesktopContainerWhite {
  @apply hidden fixed top-0 z-50 xl:flex w-full justify-between xl:px-28 py-8 bg-primary-50 text-primary-600;
}

@media (min-width: 768px){
    .waveTop{
        height: 200px;
        width: 384px;
    }
}