.navbar {
    padding: 24px 70px;
    @apply 
        fixed 
        top-0 
        z-50 
        flex 
        justify-between
        w-full 
        items-center;
}

.navItemDesktop {
    @apply md:flex hidden justify-end text-body2 font-medium;
}

.navItemMobile {
    @apply md:hidden inline-block;
}

.circle {
    width: 48px;
    height: 48px;
    margin-right: 16px;
    @apply
        rounded-full
}