
.mainContainer {
  @apply
    relative
    w-full
    flex xl:flex-row flex-col
    xl:justify-between
    items-center
    -mt-16
    bg-primary-50
    xl:px-[256px] px-10
    pb-[200px];
}

.textContainer {
  @apply
    xl:mr-32
    xl:text-left text-center
    flex flex-col
    gap-6;
}

.row {
  @apply
    flex flex-row
    items-end;
}

.inputEmail {
  @apply
    flex xl:flex-row flex-col
    xl:items-end;
}
