
@media (min-width: 768px) {
    .filter {
        @apply w-1/4;
    }
    .content {
        @apply w-3/4;
    }
}

.dropdown{
    width: 100px;
    padding: 10px;
    margin-top: 24px;
    margin-bottom: 16px;
    cursor: pointer;
    @apply bg-primary-100 rounded-6 text-primary-500 text-body3;
}

.dropdown option {
    @apply bg-primary-100 rounded-6 text-primary-500 text-body3;
}
