.questioncard {
  height: 112px;
  padding: 14px;
  @apply bg-primary-100
        rounded-12
        relative
        w-full;
}

@media (min-width: 768px) {
  .questioncard {
      height: 240px;
      padding: 28px;
      @apply rounded-24;
  }

  .helpfuldesc, .answerdesc {
    @apply text-body4 items-center font-normal
  }

  .helpfuldesc::after {
    content: ' find this helpful';
  }

  .answerdesc::after {
    content: ' answers';
  }
}

@media (min-width: 1024px) {
  .questioncard {
    height: 264px;
    padding: 32px;
    @apply rounded-24;
  }
}
